.left{
    border-radius:10px;
    margin-right:20px;
    display:flex;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.164);
    flex-direction:column;
    background-color:rgb(255, 255, 255);
    width:260px;
    display:flex;
    align-items:center;
}


.current-balance{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:rgb(116, 44, 211);
    border-radius:10px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    width:100%;
}
.current-text{
    padding-top:10px;
    font-size:13px;
    color:rgba(255, 255, 255, 0.651);
}
.balance-text{
    font-size:30px;
    color:rgb(255, 255, 255);
    font-weight:500;
    background-color:rgba(255, 255, 255, 0);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    padding:5px;
    margin-bottom:0px;
}

.date-text{
    color:rgb(255, 255, 255);
    font-size:12px;
    pointer-events:none;
}
.description-div{
    padding-top:10px;
    margin-left:10px;
    margin-right:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:20px;
}

.desc{
    width:200px;
    cursor:pointer;
    padding-left:5px;
    background-color:rgba(128, 128, 128, 0.171);
    height:30px;
    border-radius:5px;
    font-size:15px;
    margin-bottom:10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border: 1px solid white;
}
.tag-input,.side-input{
    height:32px;
    width:204px;
}
.add-button{
    color:white;
    font-size:15px;
    background-color:rgb(116, 44, 211);
    padding:8px 58px;
    border-radius:5px;
    margin-bottom:35px;
    transition: all 0.3s;
    cursor:pointer;
    margin-top:-10px;
    border: 2px solid rgb(116, 44, 211);
}
.add-button:hover{
    color: rgb(116, 44, 211);
    background-color:white;
}